:root {
  --black-0: 0, 0, 0;
  --black-1: 25, 25, 25;
  --black-2: 35, 35, 35;
  --black-3: 44, 44, 44;
  --black-4: 51, 51, 51;
  --green-0: 59, 80, 0;
  --green-1: 94, 121, 20;
  --green-2: 132, 161, 54;
  --green-3: 174, 201, 101;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.for__background {
  background-color: black;
  position: relative;
  z-index: 0;
}

.background__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url('/assets/images/man_squatting.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.big__shadow {
  background: radial-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9));
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

nav {
  position: relative;
  z-index: 3;
}

img.topbar__logo__img {
  width: 11rem;
  margin-left: 3rem;
}

.topbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background-color: rgba(var(--black-1), 0);
  color: white;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
}
@media screen and (min-width:1000px) {
  .topbar {
    display: flex;
    justify-content:space-between;
  }
}

.topbar__links {
  grid-row-start:2;
  grid-column: 1 / span 2;
  justify-self: center;
  padding-top: 1rem
}

.topbar__authentication {
  grid-column: 2 / 3;
  justify-self: end;
}



.topbar a {
  color: white;
  text-decoration: none;
  padding: 0 3px;
}

@media screen and (min-width:1000px) {
  .topbar__links a {
    padding: 0 10px;
  }
}

.topbar__authentication {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  justify-content: space-evenly;
  width: 14rem;
}

.green__button {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgb(var(--green-1));
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: content-box;
  padding: 0.5rem 1.5rem !important;
  transition: background-color 0.3s;
}

.bold {
  font-weight: bold;
}

header {
  position: relative;
  z-index: 3;
}

.main__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgba(var(--black-1), 0);
  color: white;
  padding: 2rem 0;
  width:100%;
  padding: 6rem 0;
}

.main__header__top {
  text-align: center;
  padding-bottom: 3rem;
}

.main__header__top h1 {
  font-size: 2.5rem;
  font-weight: bold;

}

.main__header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}

.main__header__bottom a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-weight: bold;
  width: 8rem;
}

.features__section {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgba(var(--black-1), 0);
  color: white;
}

.features__section > .features__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  margin: 1rem;
}

@media screen and (min-width:1000px) {
  .features__section > .features__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.features__section .feature {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;

  flex-direction: row;
  background-color: rgb(var(--black-2));
}

.features__section .feature div > * {
  padding: 0.75rem;
}

.features__section .feature__icon {
  justify-self: baseline;
  padding: 1.5rem 1rem 1.5rem 1.5rem  !important;
  scale: 1.5;
}


footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--black-2));
  color: white;
}

.footer__logo__img {
  width: 13rem;
  margin-left: 2rem;
}

.footer__top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;

}

@media screen and (min-width:1000px) {
  .footer__top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
}

.footer__quick__links {
  grid-column-start: 2;
  grid-column-end: 4;
}

.footer__logo__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}

.footer__bottom {
  border-top: 2px solid rgb(var(--black-4));
  width: 90%;
}

.footer__bottom p {
  padding: 1.25rem 0;
  text-align: start;
}

.footer__links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.5rem 0;
}

.footer__links a {
  color: white;
  text-decoration: none;
  padding: 0 0.2rem;
  
}

.footer__social__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

.footer__social__links__grid {
  width: 10rem;
  display: grid;
  grid-template-columns: 1fr 1rem 1fr;
  justify-items: center;
  justify-content: center;
}

.footer__social__icon {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: rgb(var(--black-3));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}