<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitnessTracker</title>
  <link rel="stylesheet" href="./styles/mainpage.css">
</head>
<body>
  <section class="for__background">
    <div class="background__image"></div>
    <div class="big__shadow"></div>
    <nav>
      <div class="topbar">
        <div class="topbar__logo__div">
          <a href="" class="topbar__logo">
            <img src="../assets/logo/svg/logo-no-background.svg" alt="logo" class="topbar__logo__img">
          </a>
        </div>
        <div class="topbar__links">
          <a href="">Home</a>
          <a href="">Workouts</a>
          <a href="">Progress</a>
          <a href="">Challenges</a>
          <a href="">Community</a>
        </div>
        <div class="topbar__authentication">
          <% if (UserData.LoggedIn) { %>
            <!-- <a href="/dashboard" class="bold">Dashboard</a> -->
            <form action="/logout" method="post" id="logout__button__form">
              <input type="Submit" value="Logout" id="logout__button" name="logout__button" class="bold green__button">
            </form>
          <% } else { %>
          <a href="/login" class="bold">Login</a>
          <a href="/register" class="bold green__button">Register</a>
          <% } %>
        </div>
    </nav>
    <header>
      <div class="main__header">
        <div class="main__header__top">
          <h1 class="main__header__title">Track Your Fitness Progress</h1>
        </div>
        <div class="main__header__bottom">
          <a href="" class="green__button">Get started</a>
          <a href="">Learn More &#8594;</a>
        </div>
      </div>
    </header>
    <section class="features__section">
      <h5>FEATURES</h5>
      <h1>Track Your Fitness Progress with Ease</h1>
      <div class="features__grid">
        <div class="feature">
          <div>
            <i class="fa-solid fa-dumbbell feature__icon"></i>
          </div>
          <div>
            <h4>Track Gym Workouts</h4>
            <p>Record and monitor your gym workouts to track your progress over time</p>
          </div>
        </div>
        <div class="feature">
          <div>
            <i class="fa-solid fa-person-running feature__icon"></i>
          </div>
          <div>
            <h4>Log Running Sessions</h4>
            <p>Keep a record of your running sessions, including distance, time, and pace</p>
          </div>
        </div>
        <div class="feature">
          <div>
            <i class="fa-solid fa-trophy feature__icon"></i>
          </div>
          <div>
            <h4>Set Goals</h4>
            <p>Set fitness goals and track your progress towards achieving them</p>
          </div>
        </div>
        <div class="feature">
          <div>
            <i class="fa-solid fa-chart-simple feature__icon"></i>
          </div>
          <div>
            <h4>View Statistics</h4>
            <p>Get detailed statistics and insights about your fitness activities to stay motivated</p>
          </div>
        </div>
      </div>
    </section>
  </section>
  <footer>
    <div class="footer__top">
      <div class="footer__quick__links">
        <div class="footer__logo__container">
          <a href="" class="footer__logo">
            <img src="../assets/logo/svg/logo-no-background.svg" alt="logo" class="footer__logo__img">
          </a>
        </div>
        <div class="footer__links">
          <a href="">Home</a>
          <a href="">Workouts</a>
          <a href="">Progress</a>
          <a href="">Challenges</a>
          <a href="">Community</a>
        </div>
      </div>
      <div class="footer__social__links">
          <h5>Connect</h5>
          <div class="footer__social__links__grid">
            <a target="_blank" href="https://web.facebook.com/mihai.ng.777/" class="footer__social__icon"><i class="fab fa-facebook"></i></a>
            <a target="_blank" href="https://ro.linkedin.com/in/mihai-negoita-242379298" class="footer__social__icon"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://www.instagram.com/mihainegoita9/" class="footer__social__icon"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://github.com/Mihaii2" class="footer__social__icon"><i class="fab fa-github"></i></a>
            <a target="_blank" href="mailto:mihainegoita9@gmail.com" class="footer__social__icon"><i class="fa fa-envelope"></i></a>
          </div>
        
      </div>
    </div>
    <div class="footer__bottom">
      <p>&copy; 2024 Fitness Tracker. All rights reserved</p>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/40a8b5ab5d.js" crossorigin="anonymous"></script>
  <script src="./scripts/mainpage.js"></script>
</body>
</html>